h4{
  font-size: 17px;
  margin-top: 10px;
}

.main-bg{
  width:100%;
  height:300px;
  background:no-repeat center url('./img1.jpeg');
  margin-bottom: 20px;
}

.App {
  text-align: center;
}

.me-auto{
  margin-left: 20px;
}

.link{
  text-decoration: none;
  color:white;
  margin-right:15px;
}

.start {
  opacity : 0;
}
.end {
  opacity : 1;
  transition: opacity 0.5s;
}

